<router-outlet>

  <div class="container">
    <h1>Travel Agency MIW</h1>
    <h2>Buscador de Vuelos</h2>
    <div class="row">
      <div class="col-md-12">
        <form [formGroup]="flightsSearchForm" (ngSubmit)="onSubmitSearch()">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="country">Country:</label>
                <ng-select id="countryOrigin" name="countryOringin" class="form-control custom-select"
                  [items]="countries" bindValue="code" bindLabel="name" [searchable]="true"
                  formControlName="countryOrigin" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="origin">Origin:</label>
                <input type="text" name="originFilter" class="form-control" id="origin"
                  placeholder="Escribe o selecciona una ciudad" formControlName="originText">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="searchOrigins()">Search Airport</button>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="origin">Airport:</label>
                <ng-select id="origin" class="form-control custom-select" [items]="originResults"
                  bindLabel="detailedName" formControlName="origin" [clearable]="true" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="countryDestination">Destination country:</label>
                <ng-select id="countryDestination" class="form-control custom-select" [items]="countries"
                  bindValue="code" bindLabel="name" [searchable]="true" formControlName="countryDestination" />
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="destinationFilter">Destination:</label>
                <input type="text" name="destinationFilter" class="form-control" id="destination"
                  placeholder="Ciudad de destino" formControlName="destinationText">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="searchDestinations()">Search Airport</button>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="destination">Airport:</label>
                <ng-select id="destination" class="form-control custom-select" [items]="destinationResults"
                  bindLabel="detailedName" [clearable]="true" formControlName="destination" />
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-1">
              <div class="form-group">
                <label for="passengers">Passengers</label>
                <input type="number" class="form-control" id="passengers" min="1" formControlName="passengers">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="departure">Fecha de salida:</label>
                <input type="date" class="form-control" id="departure" formControlName="departureDate">
              </div>
            </div>
            <div class="col-md-2">
              <div class="form-group">
                <label for="return">Fecha de regreso:</label>
                <input type="date" class="form-control" id="return" formControlName="returnDate">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="fare">Fare:</label>
                <ng-select id="fare" name="fare" class="form-control custom-select"
                  [items]="fares"  bindLabel="name" [searchable]="true" formControlName="fare"
                  />
              </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Search flights</button>
        </form>
      </div>
    </div>
  </div>

  <div class="container">
    <div *ngFor="let flight of flights?.flights">
      <h3>Vuelo ID: {{ flight.id }}</h3>
      <h4>Itinerarios de salida:</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Salida</th>
            <th>Llegada</th>
            <th>Carrier Code</th>
            <th>Número de vuelo</th>
            <th>Hora</th>
            <th>Número de escalas</th>
            <th>Seleccionar itinerario</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itinerary of flight.departureDayItineraries">
            <td>{{ itinerary.itinerary[0].departure.iataCode }}</td>
            <td>{{ itinerary.itinerary[0].arrival.iataCode }}</td>
            <td>{{ itinerary.itinerary[0].carrierCode }}</td>
            <td>{{ itinerary.itinerary[0].number }}</td>
            <td>{{ itinerary.itinerary[0].departure.at }}</td>
            <td>{{ itinerary.itinerary[0].numberOfStops }}</td>
          </tr>
        </tbody>
      </table>

      <h4>Itinerarios de regreso:</h4>
      <table class="table">
        <thead>
          <tr>
            <th>Salida</th>
            <th>Llegada</th>
            <th>Carrier Code</th>
            <th>Número de vuelo</th>
            <th>Hora</th>
            <th>Número de escalas</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let itinerary of flight.returnDayItineraries">
            <td>{{ itinerary.itinerary[0].departure.iataCode }}</td>
            <td>{{ itinerary.itinerary[0].arrival.iataCode }}</td>
            <td>{{ itinerary.itinerary[0].carrierCode }}</td>
            <td>{{ itinerary.itinerary[0].number }}</td>
            <td>{{ itinerary.itinerary[0].departure.at }}</td>
            <td>{{ itinerary.itinerary[0].numberOfStops }}</td>
          </tr>
        </tbody>
      </table>
      <div>Precio total: {{ flight.price }}</div>
      <button (click)="buyFlight(flight)">Buy now</button>



    </div>
  </div>


</router-outlet>