<router-outlet>

  <div class="container">
    <h1>Buscador de Vuelos</h1>
    <div class="row">
      <div class="col-md-12">
        <form>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="country">Country:</label>
                <ng-select id="countryOrigin" name="countryOringin" class="form-control custom-select"
                  [items]="countries" bindValue="code" bindLabel="name" [searchable]="true"
                  (change)="onCountryOriginSelected($event)" />
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label for="origin">Origin:</label>
                <input type="text" name="originFilter" class="form-control" id="origin"
                  placeholder="Escribe o selecciona una ciudad" [disabled]="isOriginDisabled"
                  [(ngModel)]="origintCityText">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="searchOrigins()">Search Airport</button>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="origin">Airport:</label>
                <ng-select id="origin" class="form-control custom-select" [items]="originResults"
                  bindLabel="detailedName" [clearable]="true" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="countryDestination">Destination country:</label>
                <ng-select id="countryDestination" (change)="onCountryDestinationSelected($event)" class="form-control custom-select" [items]="countries"
                  bindValue="code" bindLabel="name" [searchable]="true"></ng-select>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="destinationFilter">Destination:</label>
                <input type="text" name="destinationFilter" class="form-control" id="destination" placeholder="Ciudad de destino" [disabled]="isDestinationDisabled"
                [(ngModel)]="destinationCityText">
                <div class="input-group-append">
                  <button class="btn btn-primary" type="button" (click)="searchDestinations()">Search Airport</button>
                </div>
              </div>
            </div>
            <div class="col-md-5">
              <div class="form-group">
                <label for="destination">Airport:</label>
                <ng-select id="destination" class="form-control custom-select" [items]="destinationResults"
                  bindLabel="detailedName" [clearable]="true" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="departure">Fecha de salida:</label>
            <input type="date" class="form-control" id="departure">
          </div>
          <div class="form-group">
            <label for="return">Fecha de regreso:</label>
            <input type="date" class="form-control" id="return">
          </div>
          <button type="submit" class="btn btn-primary">Buscar Vuelos</button>
        </form>
      </div>
    </div>
  </div>
</router-outlet>